.unit
  .mirror-me
    %h1 &spades; Spades.
    %p So, I got bored one day.

.unit
  .mirror-me
    %h1 &clubs; Clubs.
    %p I decided to write a little challenge for myself.

.unit
  .mirror-me
    %h1 &hearts; Hearts.
    %p It was supposed to be a 3D-like effect with three panels and three reflections, rendered at slightly different angles, then stacked.

.unit
  .mirror-me
    %h1 &diams; Lucy. <span>(in the sky)</span>
    %p But, done entirely in CSS3.

.unit
  .mirror-me
    %h1 2 Ladies.
    %p When I got done, <a href="http://compass-style.org">Chris Eppstein</a> was all like...
    %p "Dayumnnn, I wanna have your babies."

.unit
  .mirror-me
    %h1 3 Stooges.
    %p I told him to get in line.

.unit
  .mirror-me
    %h1 4 Square.
    %p Not being content with a picture, I decided to add a little jQuery sizzle -- only to be very dissapoint.

.unit
  .mirror-me
    %h1 5th Wheel.
    %p Apparently there's no awesome way to animate CSS3 transforms using jQuery... and it was slow as hell.

.unit
  .mirror-me
    %h1 6 Shooter.
    %p So, I dropped support for Firefox and did it primarily with -webkit-transitions.
    %p ...and a tiny bit of JavaScript

.unit
  .mirror-me
    %h1 7
    %p Lucky number.
    %p This experiment brought to you by <a href="http://lorintackett.com">Lorin Tackett</a>